extends ../layout.pug


block content
    main.forgot-password-page
        .window
            h1.window-header= __('register.forgottenPasswordHeader')
            .window-content
                #forgotPassword
