extends ../layout.pug

block content
    .main-wrapper
        blockquote.quote
            p
                | There are none so deaf as those who will not hear. None so blind as those who will not see.
            cite
                | — Matthew Henry
