extends ../layout.pug

block content
    #hero
    main.home-page.text-content
        h1!= __('home.section1')
        #carousel

        section
            p!= __('home.section2')

        section
            p!= __('home.section3')

        section
            p!= __('home.section4')
