extends ../layout.pug

block content

    main.home-page.text-content
        .logo
        h1 Welcome to Sun Empire
        p Sun Empire is a vibrant band from sunny Florida, brought to life by three passionate musicians: Evgeny, Angelina, and Ryan. United by our love for music, we create music that resonate with the soul and bring people together. Join us on our musical journey and feel the warmth of Sun Empire!
