extends ../layout.pug

block content

    main.home-page.text-content
        .logo
        h1 Welcome to Sun Empire
        p We’re Sun Empire, a band from sunny Florida made up of three passionate musicians: Evgeny, Angelina, and Ryan. What started as casual jam sessions has turned into a heartfelt project where we aim to connect people and share a bit of warmth through our music. Our hope is to create a sense of community and offer something uplifting and genuine to everyone who listens. We’d love for you to join us on this journey and feel the welcoming spirit in everything we play.
