extends ../layout.pug

block content
    main.privacy-policy-page.text-content
        h1 Privacy Policy

        section
            h2 Information We Collect
            | We collect information from you when you register on our site, subscribe to our newsletter, respond to a survey, fill out a form, or enter information on our site. The information we collect may include personally identifiable information such as your name, email address, postal address, and telephone number. You may, however, visit our site anonymously.

        section
            h2 Use of Information
            | We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
            ul
                li To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.
                li To improve our website in order to better serve you.
                li To allow us to better service you in responding to your customer service requests.
                li To administer a contest, promotion, survey or other site feature.
                li To send periodic emails regarding your order or other products and services.

        section
            h2 Protection of Information
            | We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information. Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential.

        section
            h2 Cookies
            | We use cookies to:
            ul
                li Understand and save user's preferences for future visits.
                li Keep track of advertisements.
                li Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.
