extends ../layout.pug

block content
    main.terms-page.text-content
        h1 Terms of Service
        h2 Use of the Site

        section
            a(href="/") Band.Ink&nbsp;
            | provides a platform for musicians to connect, collaborate, and share their music. Users must conduct themselves in a respectful and lawful manner at all times.

        section
            h2 Registration
            | Users may be required to register an account to access certain features of the site. You agree to provide accurate, current, and complete information during the registration process and to update such information to keep it accurate, current, and complete.

        section
            h2 Content Ownership and Responsibility
            | Users retain ownership of the content they upload to&nbsp;
            a(href="/") Band.Ink
            |  but grant the site a global, non-exclusive, royalty-free license to use, distribute, modify, and display their content. Users are solely responsible for their content and the consequences of posting or publishing it.

        section
            h2 Prohibited Conduct
            | Users are prohibited from using the site to conduct any unlawful activities, violate any third-party rights, upload or spread malware or other malicious code, harass, threaten, or harm others.

        section
            h2 Termination
            a(href="/") Band.Ink
            |  reserves the right to terminate your access to the site without notice or liability for any reason, including violation of these Terms of Service.

        section
            h2 Disclaimers
            a(href="/") Band.Ink
            |  provides the site and its services on an "as is" and "as available" basis. We do not offer warranties of any kind, expressed or implied, regarding the site or its use.

        section
            h2 Limitation of Liability
            | In no event will&nbsp;
            a(href="/") Band.Ink
            |  be liable for any indirect, incidental, special, consequential or punitive damages arising out of or in connection with your use of the site.

        section
            h2 Changes to Terms
            a(href="/") Band.Ink
            |  reserves the right to modify these Terms of Service at any time. We will provide notice of any significant changes and your continued use of the site will constitute your acceptance of the modified terms.

        section
            h2 Contact Us
            | For any questions or concerns about these Terms of Service, please&nbsp;
            a(href="/contacts") contact us.