extends ./layout.pug


block content
    main.control-panel
        section
            .menu-admin-wrapper
                include ./pages/admin/menu

            .content-wrapper
                block cp