doctype html
html(lang=currentLocale)
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title= page.title
        script(src="https://code.iconify.design/2/2.1.2/iconify.min.js")
        if typeof cssPaths !== 'undefined' && cssPaths.length > 0
            each cssPath in cssPaths
                link(rel="stylesheet" href="/" + cssPath)
    body
        //include partials/navbar.pug
        .main-wrapper
            block content
        include partials/footer.pug
        include partials/scripts.pug
        script.
            window.appConfig = {
                currentLocale: "#{currentLocale}"
            };
