if user
    script(type="application/json" id="userData")!= JSON.stringify(user)

if process.env.NODE_ENV === 'local'
    script(type="module").
        import RefreshRuntime from "http://localhost:5173/@react-refresh";
        RefreshRuntime.injectIntoGlobalHook(window);
        window.$RefreshReg$ = () => {};
        window.$RefreshSig$ = () => (type) => type;
        window.__vite_plugin_react_preamble_installed__ = true;
    script(type="module" src="http://localhost:5173/@vite/client")
    script(type="module" src="http://localhost:5173/src/app.tsx")
else
    script(type="module" src="/" + appPath)
